* {
  box-sizing: border-box;
}

body {
  margin:0px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  background-color: lightgray;
  height: 100px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.canvas {
  border: solid 3px black;
  height: 500px;
  width: 500px;
}

.color-container {
  display: flex;
  border: solid 3px black;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 500px;
  width: 200px;
  background-color: grey;
}

.color-container button {
  height: 50px;
  width: 50px;
  margin: 20px;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  border: solid 3px black;
}

.log {
  background-color: lightgray;
  font-size: 20px;
  padding: 10px;
  flex-grow: 1;
  height: 300px;
  width: 300px;
}

input {
  height: 50px;
  padding: 10px;
  font-size: 20px;
}