/* create or join (page 2) */

.create-or-join {
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.center-container {
    display:flex;
    flex-direction: column;
}
