/* home (page 1) */
.home {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--lavender);
    gap: 50px;
}

.center-container {
    border: solid 4px var(--black);
    box-shadow: 5px 5px 5px var(--lavender-shadow);
    background-color: white;
    border-radius: 20px;
    width: 700px;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-decoration {
    height: 25px;
    width: auto;
  }

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@keyframes bobble {
    0% {font-size: 20px;}
    50% {font-size: 25px;}
    100% {font-size: 20px;}
}

.center-container .description {
    position: absolute;
    right: -150px;
    top: 80px;
    animation-name: bobble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
}

#home-canvas {
    border-radius: 20px;
    border: solid 4px var(--black);
    background-color: white;
    margin: 1rem 0rem 0.5rem 0rem;
}

#canvas-reset {
    border: solid rgb(94, 94, 94);
    padding: 0 0.1rem;
    width: 5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.home input {
    margin-bottom: 0.3rem;
    border-radius: 7px;
    border: solid 4px var(--black);
    padding: 0.25rem;
    font-size: 1rem;
    height: 2rem;
    width: 15rem;
}

.home .start {
    margin: 1rem;
    font-size: 15px;
    padding: 0.2rem 0.8rem;
    border-radius: 0.5rem;
    border: solid 4px var(--black);
    padding: 0.2rem;
    height: 2rem;
    width: 10rem;
}