* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-weight: 200;
  font-size: 75px;
}

h3 {
  font-weight: 400;
}

.home button:hover,
.create-or-join button:hover,
.lobby button:hover {
  background-color: rgb(199, 199, 199);
}

:root {
  --transition-bkrd: rgb(20, 33, 101);
  --lavender: rgb(220, 208, 255);
  --lavender-shadow: rgb(142, 128, 184);
  --dark-magenta: rgb(163, 44, 163);
  --black: rgb(59, 59, 59);
}

.page {
  background-color: var(--lavender);
}

.tab-bar {
  display: flex;
  padding: 5px 10px;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  background-color: var(--dark-magenta);
  justify-content: space-between;
  align-items: center;
  overflow: hidden
}

.tabs {
  display: flex;
  width: 75%;
  gap: 2px;
}

.tabs > * {
  position: relative;
  top: 5px;
  background-color: rgb(172, 172, 172);
  display: flex;
  justify-content: flex-start;
  -moz-border-radius: 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
  padding: 7px 25px;
  border: solid 4px var(--black);
  border-bottom: white;
}

.current-tab {
  background-color: white;
}

.address-bar {
  display: flex;
  align-items: center;
  border: solid red;
  padding: 10px;
  width: 100%;
}

.tab-decoration {
  height: 25px;
  width: auto;
}