/* create lobby (page 3) */

.lobby-creator {
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.lobby-name {
    margin-bottom: 0.3rem;
    padding: 0.25rem;
    font-size: 1rem;
    height: 2rem;
    width: 15rem;
}

.lobby-creator button {
    border-radius: 1rem;
    border: solid black;
    height: 3rem;
    width: 7rem;
}

.center-container {
    display:flex;
    flex-direction: column;
}