* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

div, p, h1 {
  font-family: "Rubik", sans-serif;
}

.homepage button:hover, .create-or-join button:hover, .lobby button:hover {
  background-color: rgb(199, 199, 199);
}

/* homepage (page 1) */
.homepage {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.center-container {
  border: solid 3px black;
  background-color: #fafafa;
  box-shadow: 5px 5px 5px rgb(150, 150, 150);
  padding: 1rem;
  width: 40%;
  min-height: 250px;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-canvas {
  /* border-radius: 1rem; */
  border: solid black;
  background-color: white;
  margin-bottom: 0.2rem;
}

#canvas-reset {
  border: solid rgb(52, 52, 52);
  padding: 0 0.1rem;
  width: 5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.homepage input {
  margin-bottom: 0.3rem;
  padding: 0.25rem;
  font-size: 1rem;
  height: 2rem;
  width: 15rem;
}

.homepage .start {
  margin-bottom: 1rem;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
  height: 2rem;
  width: 10rem;
}

/* create or join (page 2) */

.create-or-join {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.create-or-join button {
  border-radius: 1rem;
  border: solid black;
  margin-bottom: 10px;
  height: 3rem;
  width: 7rem;
}

/* create lobby (page 3) */

#lobby-creator {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#lobby-name {
  margin-bottom: 0.3rem;
  padding: 0.25rem;
  font-size: 1rem;
  height: 2rem;
  width: 15rem;
}

#lobby-creator button {
  border-radius: 1rem;
  border: solid black;
  height: 3rem;
  width: 7rem;
}

/* join lobby (page 3) */

.lobby-header {
  font-size: 40px;
  padding-bottom: 1rem;
}

img {
  height: 240px;
  width: auto;
}

#lobby {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  min-width: 700px;
}

#lobby .lobby-container {
  width: 40%;
  min-height: 250px;
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

ul {
  border: solid black;
  padding: 0.5rem;
  width: 95%;
  min-height: 240px;
  min-width: 350px;
  height: 240px;
  overflow-y: scroll;
}

li {
  border: solid 3px black;
  border-radius: 3px;
  margin-bottom: 0.2rem;
  list-style-type: none;
  justify-content: space-between;
}

.create {
  margin-bottom: 1rem;
}

/* game (page 4) */

.body {
  display: flex;
  flex-direction: column;
}

.body .header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 75px;
  width: 100%;
  font-size: 30px;
}

.header h1 {
  font-weight: 300;
  word-spacing: 20px;
}


.header #timer {
  justify-self: start;
  position: absolute;
  left: 10px;
  right: 10px;
}

/* .body #word-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 75px;
  width: 100%;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 1.1rem;
} */

#body-content {
  display: flex;
  justify-content: center;
  height: 500px;
}

#users {
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 500px;
  overflow-y: auto;
}

#my-canvas{
  border: solid 2px black;
  margin-left: -2px;
}

#drawing-options {
  border: solid 2px black;
  display: flex;
  align-items: center;
  flex: 0 0 125px;
  flex-direction: column;
  margin-left: -2px;
}

#adjust {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 75px;
  font-size: 13px;
}

#line-width-slider {
  width: 75px;
}

.color-container {
  border-top: solid 2px black;
  display: grid;
  max-width: 125px;
  grid-template: 1fr;
  padding: 10px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.color-container button {
  height: 50px;
  width: 50px;
  margin: 20px;
}

#drawing-type {
  height:50px;
}

#form {
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  width: 300px;
  font-size: 16px;
  margin-left: -2px;
  overflow-wrap: break-word;
}

#log {
  background-color: rgb(228, 225, 225);
  font-size: 1.5ch;
  padding: 2ch 1.2ch 0.5ch 1.2ch;
  height: 450px;
  overflow-y:scroll;
}

form input {
  height: 50px;
  padding: 1ch 1ch 1ch 1ch;
  font-size: 1rem;
}

form input:focus {
  outline: none;
}

form p {
  border-left: solid 0.2rem rgb(91, 88, 88);
  padding-left: 0.5rem;
  margin-bottom: 1.1ch;
}

form p:nth-child(odd) {
  background-color: rgb(209, 208, 208);
}

.user {
  display: flex;
  border-bottom: solid 2px black;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
  font-size: 1rem;
  max-width: 100%;
}

.user .nickname {
  max-width: 70px;
  word-wrap: break-word;
}

.user canvas {
  border: solid 2px black;
  border-radius: 2px;
  background-color: rgb(228, 228, 228);
}

/* New round screen */
#round-placeholder {
  position:absolute;
  pointer-events:none;
  top:0;
  left:0;
  opacity: 50%;
  background-color:gray;
  height:100%;
  width:100%;
}

.tempUser {
  border: solid red;
}