* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  border: solid red;
  margin:0px;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 100px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid
}

canvas {
  border: solid 3px black;
  height: 500px;
  width: 500px;
}

.color-container {
  order: 1;
  display: flex;
  border: solid 3px black;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 500px;
  width: 225px;
  min-width: 125px;
  background-color: grey;
  overflow-y:scroll;
}

.color-container button {
  height: 50px;
  width: 50px;
  margin: 20px;
}

#log {
  border: solid red;
  background-color: lightgray;
  font-size: 1.1rem;
  margin: 0px;
  padding: 10px;
  height: 450px;
  overflow-y:scroll;
 /* order: 2;*/
}

p:nth-child(odd) {
  background-color: darkgray;
}

form {
  order: 2;
  height: 500px;
  max-width: 300px;
  font-size: 1.1rem;
}

input {
  border: solid black;
  height: 50px;
  padding: 5px;
  flex-grow: 1;
  width: 300px;
  font-size: 15px;
}