* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

div, p, h1 {
  font-family: "Rubik", sans-serif;
}

.homepage button:hover, .create-or-join button:hover, .lobby button:hover {
  background-color: rgb(199, 199, 199);
}

/* homepage (page 1) */
.homepage {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.center-container {
  border: solid 3px black;
  padding: 1rem;
  width: 40%;
  min-height: 250px;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

#home-canvas {
  border-radius: 1rem;
  border: solid black;
  height: 200px;
  width: 200px;
  margin-bottom: 0.2rem;
}

#canvas-reset {
  border: solid rgb(52, 52, 52);
  padding: 0 0.1rem;
  width: 5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.homepage input {
  margin-bottom: 0.3rem;
  padding: 0.25rem;
  font-size: 1.25rem;
  height: 2rem;
  width: 15rem;
}

.homepage .start {
  margin-bottom: 1rem;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
  height: 2rem;
  width: 10rem;
}

/* create or join (page 2) */

.create-or-join {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.create-or-join button {
  border-radius: 1rem;
  border: solid black;
  height: 3rem;
  width: 7rem;
}

/* lobby (page 3) */

#lobby {
  display: flex;
}

.create {
  margin-bottom: 1rem;
}

/* body (page 3) */

.body, #my-canvas, .color-container, input {
  border: solid 0.1rem black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 50px;
}

.body {
  border: solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#body-content {
  border: solid green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#my-canvas {
  height: 500px;
  width: 500px;
}

.color-container {
  order: 1;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 500px;
  width: 125px;
  overflow-y: auto;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 1.1rem;
}

.color-container button {
  height: 50px;
  width: 50px;
  margin: 20px;
}

#log {
  background-color: rgb(228, 225, 225);
  font-size: 1.5ch;
  padding: 1ch;
  height: 450px;
  overflow-y:scroll;
 /* order: 2;*/ 
}

/* p:nth-child(odd) {
  background-color: darkgray;
} */

p {
  border-left: solid 0.2rem rgb(91, 88, 88);
  padding-left: 0.5rem;
  margin-bottom: 1.1ch;
  word-wrap: break-word;
}

form {
  order: 2;
  height: 500px;
  max-width: 300px;
  font-size: 1.1rem;
}

form input {
  height: 50px;
  padding: 1ch 1ch 1ch 1.5ch;
  flex-grow: 1;
  width: 300px;
  font-size: 1rem;
}

#users {
  border: solid yellow;
  display: flex;
  flex-wrap: wrap;
  flex-grow: grow;
}

.user {
  border: solid red;
  padding: 10px;
}

